body {
  margin-top: 75px;
}
footer {
  margin-top: 45px;
  padding-top: 5px;
}

footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  margin-left:15px;
  float: left;
}
